<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="LanduffScenario" class="trams.data.Scenario" init-method="init">
		<property name="scenarioName" value="Landuff Transport Company"/>
		<property name="description" value=" has been appointed Managing Director of the Landuff Transport Company saying I am delighted to be taking on this role and look forward to delivering a transport system worthy of the fantastic town of Landuff. Landuff Town Council are committed to supplying 46 bus stops around the town. In addition, the council has supplied €200,000 of initial funding and 4 new single decker buses. The council expects the Landuff Transport Company to offer a frequent service to these bus stops on all routes (regardless of subsidy) with a high level of passenger satisfaction. If the passenger satisfaction drops below 20% then the contract will be immediately revoked. However, the council is confident of a long working relationship with the Landuff Transport Company."/>
        <property name="targets" value="1. Serve all bus stops in Landuff. 2. Ensure a frequent service on all routes. 3. Ensure that passenger satisfaction remains above 20% at all times. The contract to run public transport services in Landuff will be terminated if these targets are not met. Good Luck!"/>
		<property name="minimumSatisfaction" value="20"/>
		<property name="locationMapFileName" value="landuffmappic.jpg"/>
		<property name="numberSuppliedVehicles" value="4"/>
		<property name="dataFileName" value="landuffdata.txt"/>
	</bean>
	
	<bean id="LongtsScenario" class="trams.data.Scenario" init-method="init">
		<property name="scenarioName" value="Longts Transport Company"/>
		<property name="description" value=" has been appointed Managing Director of the Longts Transport Company saying 'I am delighted to be taking on this role and look forward to delivering a transport system worthy of the fantastic city of Longts. Longts City Council will provide access to 50 bus stops around the city. In addition, the council has supplied €200,000 of initial funding and 2 new single decker buses. The council expects the Longts Transport Company to offer a very frequent service to all bus stops without subsidy and with a very high level of passenger satisfaction. If the passenger satisfaction drops below 50% then the contract will be immediately revoked. The council looks forward to seeing if the Longts Transport Company can meet these ambitious targets."/>
        <property name="targets" value="1. Serve all bus stops in Longts. 2. Ensure a very frequent service on all routes. 3. Ensure that passenger satisfaction remains above 50% at all times. The contract to run public transport services in Longts will be terminated if these targets are not met. Good Luck!"/>
		<property name="minimumSatisfaction" value="50"/>
		<property name="locationMapFileName" value="longtsmappic.jpg"/>
		<property name="numberSuppliedVehicles" value="3"/>
		<property name="dataFileName" value="longtsdata.txt"/>
	</bean>
	
	<bean id="MDorfScenario" class="trams.data.Scenario" init-method="init">
		<property name="scenarioName" value="MDorf Transport Company"/>
		<property name="description" value=" has been appointed Managing Director of the MDorf Transport Company saying 'I am delighted to be taking on this role and look forward to delivering a transport system worthy of the fantastic city of MDorf. MDorf City Council are committed to supplying 50 bus stops around the town. In addition, the council has supplied €200,000 of initial funding and 3 new single decker buses. The council expects the MDorf Transport Company to offer a frequent service to these bus stops on all routes (without subsidy) with a high level of passenger satisfaction. If the passenger satisfaction drops below 35% then the contract will be immediately revoked. However, the council is confident of a long working relationship with the MDorf Transport Company."/>
		<property name="targets" value="1. Serve all bus stops in MDorf. 2. Ensure a frequent service on all routes. 3. Ensure that passenger satisfaction remains above 35% at all times. The contract to run public transport services in MDorf will be terminated if these targets are not met. Good Luck!"/>
		<property name="minimumSatisfaction" value="35"/>
		<property name="locationMapFileName" value="mdorfcitymappic.jpg"/>
		<property name="numberSuppliedVehicles" value="3"/>
		<property name="dataFileName" value="mdorfdata.txt"/>
	</bean>
	
	<bean id="VehicleMessage" class="trams.data.Message">
		<property name="type" value="Vehicle"/>
	</bean>
	
	<bean id="CouncilMessage" class="trams.data.Message">
		<property name="type" value="Council"/>
	</bean>
</beans>

